*{
	box-sizing: border-box;
}

body{	
	font-family: "Montserrat", Sans-serif;
	margin: 20px 70px;
}

section{
	margin: 0 70px;
}

.container{
	display: flex;	
	flex-direction: column;
	margin-top: 0 70px;
	width: 70%;
	align-content: center;
	margin: 0 auto;
}

p {
	font-size: 16.5px;
	line-height: 1.5;
}